<!-- templates/post_detail.html -->
{% extends 'recipe_app/base.html' %}

{% block content %}
<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
      <hr class="featurette-divider">
        <div class="container marketing">
          <div class="row featurette">
            <div class="col-md-8 order-md-2">
              <a href="{% url 'recipe_detail' recipe.pk %}" class="lead"><h2 class="featurette-heading">{{ recipe.title }}</h2></a>
                <p class="clip"> {{ recipe.description }} </p>
            </div>
          <div class="col-md-3 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{{ recipe.image.url }}" style="height: 220px; width: 240px"  alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>
  </div>



        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->

{% endblock content %}