<!-- templates/post_detail.html -->

{% extends 'recipe_app/base.html' %}

{% block content %}
<div class="bgcolor">
<main role="main">
      <section class="jumbotron text-center">
        <div class="row">
        <div class="container">
          <h1 id="background_text" class="jumbotron-heading">&ensp;&ensp;&ensp; Chef&ensp; Rye&emsp;</h1>
          <!--<p class="lead text-muted">it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>-->
            </div>
          </div>
      </section>
    </main>
  {% for recipe in object_list %}


      <div class="album py-5 bg-light ">
        <div class="container ">
          <div class="row ">
      <hr class="featurette-divider">
        <div class="container marketing">
          <div class="row featurette">
            <div class="col-md-8 order-md-2">
              <a href="{% url 'recipe_detail' recipe.pk %}" class="lead"><h2 class="featurette-heading">{{ recipe.title }}</h2></a>
                <p class="clip"> {{ recipe.description }} </p>
            </div>
          <div class="col-md-3 order-md-1">
            <img  src="media/{{ recipe.image }}" style="height: 220px; width: 240px"  alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>
  </div>



        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
</div>
{% endfor %}
{% endblock content %}
